<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn-E-LJVxiB_f2_nHlz3kwz7uwco5wk_A</string>
	<key>GCM_SENDER_ID</key>
	<string>583828595424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HW02.login</string>
	<key>PROJECT_ID</key>
	<string>kl-hw02</string>
	<key>STORAGE_BUCKET</key>
	<string>kl-hw02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583828595424:ios:c7bf11c6da56820554e685</string>
</dict>
</plist>